<!-- <a href="#" class="close show" id="modal">&times;</a> -->

<div class="modal">
  <div class="paper">
    <div class="header">
      <a href="" class="close">&times;</a>
      <div class="wrap">
        <h1>John Donner</h1>
        <h2>TESC: BA Communications</h2>
      </div>
    </div>

    <div class="wrap">

    </div>
  </div>
</div>
