<div class="nav wrap">
  <a href="#" id="switcher" class="dropdown show">Apps</a>
  <a href="">Dashboard</a>
  <a href="">Coaches</a>

  <a href="" class="dropdown current">Students</a>
  <span class="dropdown">
    <a href="/admin/students">All Students</a>
    <a href="/admin/appraisals">Appraisals</a>
    <a href="/admin/students/delayed">Delayed</a>
    <a href="/admin/disenrollments">Disenrollments</a>
  </span>

  <a href="" class="dropdown">Billing</a>
  <span class="dropdown">
    <a href="/admin/credit_memos">Credit Memos</a>
    <a href="/admin/invoices">Invoices</a>
    <a href="/admin/payments">Payments</a>
    <a href="/admin/refunds">Refunds</a>
    <a href="/admin/subscriptions">Subscriptions</a>
  </span>

  <a href="" class="dropdown">Admin</a>
  <span class="dropdown">
    <a href="/admin/discounts">Discounts</a>
    <a href="/admin/programs">Programs</a>
    <a href="/admin/services">Services</a>
    <a href="/admin/service_charges">Service Charges</a>
    <a href="/admin/statuses">Statuses</a>
    <a href="/admin/templates">Templates</a>
    <a href="/admin/tuitions">Tuitions</a>
  </span>

  <form>
    <a href="" class="icon search"></a>
    <input id="search" name="search" placeholder="Search Students..." type="text">
  </form>
</div>
