<!-- <a href="#" class="close show" id="modal">&times;</a> -->

<!-- <div class="modal">
  <div class="paper">
    <div class="header">
      <a href="" class="close">&times;</a>
      <div class="wrap">
        <h1>John Donner</h1>
        <h2>TESC: BA Communications</h2>
      </div>
    </div>

    <div class="wrap">

    </div>
  </div>
</div>
 -->
<div class="switcher">
  <div class="wrap">
    <div class="columns five list">
      <div class="column">
        <h4 class="blue">All</h4>
        <a href="http://bloomfire-proxy.collegeplusapp.com">Bloomfire</a>
        <a href="https://passport.collegeplusapp.com">Passport</a>
        <a href="https://time-tracker.collegeplusapp.com">Time Tracker</a>
        <a class="logout red" href="/admin/logout/passport" data-method="delete" rel="nofollow">Log out</a>
      </div>
      <div class="column">
        <h4 class="blue">CollegePlus</h4>
        <a href="http://experience.collegeplus.org/admin">Assessify</a>
        <a href="https://degree-manager.collegeplusapp.com/admin">Degree Manager</a>
        <a href="https://life-purpose.collegeplusapp.com/admin">Life Purpose</a>
        <a href="https://mycp.collegeplusapp.com/admin/dashboards">myCollegePlus</a>
        <a href="https://walkman.herokuapp.com">Walkman</a>
      </div>
      <div class="column">
        <h4 class="blue">CollegePrep</h4>
        <a href="https://course-planner.collegeplusapp.com/admin">Course Planner</a>
        <a href="https://critical-reasoning.collegeplusapp.com/admin/students">Critical Reasoning</a>
        <a href="https://flashcards.collegeplusapp.com/admin">Flashcards</a>
      </div>
      <div class="column">
        <h4 class="blue">Interns</h4>
        <a href="https://cplibrary.herokuapp.com">Library</a>
        <a href="http://lunchbox.collegeplusapp.com">Lunchbox</a>
      </div>
      <div class="column">
        <h4 class="blue">IT</h4>
        <a href="http://spectatorapp.herokuapp.com">Spectator</a>
        <a href="https://sqlsnip.collegeplusapp.com">SQLSnip</a>
      </div>
    </div>
  </div>
</div>
