<div class="header">
  <div class="wrap">
    <h1>Students
      <a href="#" class="dropdown show" id="menu">H</a>
    </h1>

    <div class="menu">
      <a href="">Filter</a>
      <span>Export:</span>
      <a href="">Students</a>
      <a href="">Contacts</a>
      <a href="">Enrollments</a>
    </div>
  </div>
</div>

<div class="content wrap">

  <span class="gridswitch">
    <a href="#" class="gridswitch icon list" id="grid"></a>
  </span>

  <div class="gridswitch grid four match small">

    <div class="block fade">
      <a href="/show" class="green">
        <i class="icon plus"></i>
        Add Student
      </a>
    </div>

    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Campbell</a>
      <span class="label">Age 19</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach Jim Tegelhutter</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron H. Charlton</a>
      <span class="label">Age 17</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Hold</span>
          <span class="label">Coach Guy Stiles</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron C. Fortenberry</a>
      <span class="label">Age 20</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Alex Smith</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron J. Sager</a>
      <span class="label">Age 18</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Jared Anders</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron R. Vaughn</a>
      <span class="label">Age 20</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Hold</span>
          <span class="label">Coach Matthew Ballmann</td>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Smith</a>
      <span class="label">Age 18</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach Jonathan Shettler</spand>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron P. Jackson</a>
      <span class="label">Age 22</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach James Beeman</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron M. Bradley</a>
      <span class="label">Age 23</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Justin Horsman</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Dodson</a>
      <span class="label">Age 24</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Jon Taylor</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron D. Diedrich</a>
      <span class="label">Age 24</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Rob Bennett</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron N. Predmore</a>
      <span class="label">Age 23</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach James Beeman</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron A. Bulow</a>
      <span class="label">Age 22</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - In-Active</span>
          <span class="label">Coach Alex Smith</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron J. Cowles</a>
      <span class="label">Age 25</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Rob Bennett</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron T. Smith</a>
      <span class="label">Age 37</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach Jim Tegelhutter</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron N. Carter</a>
      <span class="label">Age 18</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Jonathan Boulden</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron M. Baasch</a>
      <span class="label">Age 22</span>
      <span class="right">
        <span class="list">
          <span class="label">CoYC - Disenrolled</span>
          <span class="label">Coach Jared Anders</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron J. Graf</a>
      <span class="label">Age 18</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Matt Kinsley</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Bohot</a>
      <span class="label">Age 15</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label"></Coach span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron M. Ackland</a>
      <span class="label">Age 25</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Nathan Huber</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron R. Nix</a>
      <span class="label">Age 22</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Justin Horsman</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron M. Blanton</a>
      <span class="label">Age 21</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Jon Taylor</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Washington</a>
      <span class="label">Age 22</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach Spencer ONeill</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Clough</a>
      <span class="label">Age 36</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Hold</span>
          <span class="label">Coach Greg Collard</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron J. Shiver</a>
      <span class="label">Age 22</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Russ Bennett</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron J. English</a>
      <span class="label">Age 21</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Matthew Flex</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron G. Boyd</a>
      <span class="label">Age 23</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Alex Smith</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron H. Weisinger</a>
      <span class="label">Age 27</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach James Beeman</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Bethea</a>
      <span class="label">Age 15</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach Joseph Krol</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron M. Schlag</a>
      <span class="label">Age 23</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Disenrolled</span>
          <span class="label">Coach Justin Horsman</span>
        </span>
      </span>
    </div>
    <div class="block">
      <i class="icon user heading"></i>
      <a href="/show" class="green">Aaron Yonkers</a>
      <span class="label">Age 16</span>
      <span class="right">
        <span class="list">
          <span class="label">Core - Enrolled</span>
          <span class="label">Coach Spencer ONeill</span>
        </span>
      </span>
    </div>

    <div class="block fade">
      <a href="/show" class="green">
        <i class="icon next"></i>
        More
      </a>
    </div>

  </div>

</div>
