<div class="paper">
  <div class="header">

    <div class="wrap">
      <h1>John Donner
        <a href="#" class="dropdown show" id="menu">H</a>
      </h1>
      <h2>TESC: BA Communications</h2>

      <div class="menu">
        <a href="">Profile</a>
        <a href="https://mycp.collegeplusapp.com/admin/students/2200/#tabs-notes">Notes</a>
        <a href="/admin/students/2200/degree_plans/show" class="current">Degree Plan</a>
        <a href="/admin/students/2200/course_timings">Course Timing</a>
        <a href="/admin/students/2200/statistics" class="last">Statistics</a>
        <a href="/admin/students/2200/degree_plans/edit">Edit Plan</a>
        <a href="/admin/students/2200/degree_plans/new">New Plan</a>
        <a href="https://spreadsheets.google.com/a/collegeplus.org/spreadsheet/viewform?formkey=dHBFOWdtZ2ljeHRCNmtxeVcydy1BZnc6MQ&amp;entry_0=kiefer.partridge@collegeplus.org&amp;entry_1=Kiefer Partridge&amp;entry_2=https://degree-manager.collegeplusapp.com/admin/students/2200/degree_plans/show">Update</a>
      </div>
    </div>

  </div>

  <div class="content wrap">
    <h3 class="green">General Education Requirements
      <span class="right small list">
        <span class="label">60.00 earned</span>
        <span class="label">60.00 allocated</span>
        <span class="label">60.00 required</span>
      </span>
    </h3>

    <div class="indent">
      <h4>Composition
        <span class="right small list">
          <span class="label">6.00 earned</span>
          <span class="label">6.00 allocated</span>
          <span class="label">6.00 required</span>
        </span>
      </h4>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon times red"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon unknown blue"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon shuffle"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>
    </div>

    <h3 class="green">General Education Requirements
      <span class="right small list">
        <span class="label">60.00 earned</span>
        <span class="label">60.00 allocated</span>
        <span class="label">60.00 required</span>
      </span>
    </h3>

    <div class="indent">
      <h4>Composition
        <span class="right small list">
          <span class="label">6.00 earned</span>
          <span class="label">6.00 allocated</span>
          <span class="label">6.00 required</span>
        </span>
      </h4>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <h4>Composition
        <span class="right small list">
          <span class="label">6.00 earned</span>
          <span class="label">6.00 allocated</span>
          <span class="label">6.00 required</span>
        </span>
      </h4>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>

      <div class="block">
        <i class="icon tick green"></i>
        <a href="">College Composition</a>
        <span class="right small">
          <i class="icon message"></i>
          <span class="list">
            <span class="label">CLEP</span>
            <span class="label">ENC 101/102 CE</span>
            <span class="label">$80.00</span>
            <span class="label">6.00 credits</span>
          </span>
        </span>
      </div>
    </div>

  </div>
</div>
