<div class="header">

  <div class="wrap">
    <h1>John Donner
      <a href="#" class="dropdown show" id="menu">H</a>
    </h1>
    <h2>TESC: BA Communications</h2>

    <div class="menu">
      <a href="" class="current">Personal</a>
      <a href="">Enrollment</a>
      <a href="">Billing</a>
      <a href="">Notes</a>
      <a href="">Services</a>
    </div>
  </div>

</div>

<div class="content wrap">
  <div class="grid three">

    <div class="block">
      <h3>Contact</h3>
      <p>Email: <a href="mailto:remymacg19@amaonline.com">remymacg19@amaonline.com</a></p>
      <p>Home: (806) 878-2334<span class="label grey">Primary</span>
      <p>Cell: (806) 395-0172</p>

      <h3>Address</h3>
      <p>9386 County Road G</p>
      <p>Stinnett TX 79083</p>
      <p>US</p>
    </div>

    <div class="block">
      <h3>Personal</h3>
      <p>Age: 21</p>
      <p>Birthday: November 16, 1990<p>
      <p>Gender: Male</p>
      <p>Married: No</p>
    </div>

  </div>
</div>
