<div class="header">

  <div class="wrap">
    <h1>John Donner
      <a href="#" class="dropdown show" id="menu">H</a>
    </h1>
    <h2>TESC: BA Communications</h2>

    <div class="menu">
      <a href="" class="current">Personal</a>
      <a href="">Enrollment</a>
      <a href="">Billing</a>
      <a href="">Notes</a>
      <a href="">Services</a>
    </div>
  </div>

</div>

<div class="content wrap">
  <div class="grid three">

    <div class="block">
      <h3>Contact</h3>
      <p class="small">Email: <a href="mailto:remymacg19@amaonline.com">remymacg19@amaonline.com</a></p>
      <p class="small">Home: (806) 878-2334 (Primary)</p>
      <p class="small">Cell: (806) 395-0172</p>

      <h3>Address</h3>
      <p class="small">9386 County Road G</p>
      <p class="small">Stinnett TX 79083</p>
      <p class="small">US</p>
    </div>

    <div class="block">
      <h3>Personal</h3>
      <p class="small">Age: 21</p>
      <p class="small">Birthday: November 16, 1990</p>
      <p class="small">Gender: Male</p>
      <p class="small">Married: No</p>
    </div>

    <div class="block">
      <h3>Time Zone</h3>
      <p>It is currently</p>
      <p class="large green">5:26 PM</p>
      <p>in Stinnett, TX</p>
    </div>

  </div>
</div>
